@page
@model ContactModel
@{
}
<body>
    <div class="text-center">
        <h1 class="display-4">CONTACT</h1>
        <p style="font-weight: bold;">Management - <a href="mailto: allen@godownbelieving.com" style="font-weight:normal">Allen Wright (Go Down Believing Management)</a></p>
        <p style="font-weight: bold;">Booking (Europe/UK) - <a href="mailto: maarten@avocado-booking.com" style="font-weight:normal">Maarten Jansen (Avocado Booking)</a></p>
        <p style="font-weight: bold;">Booking (Denmark) - <a href="mailto: mathias@pdhmusic.dk" style="font-weight:normal">Mathias Binder (PDH Music)</a></p>
        <p style="font-weight: bold;">Label - <a href="mailto: manuel@spventertainment.com" style="font-weight:normal">Manuel Schönfeld (Long Branch Records)</a></p>
        <p style="font-weight: bold;">Band - <a href="mailto: ghostirisband@gmail.com" style="font-weight:normal">Sebastian Linnet</a></p>
    </div>
</body>