@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <div class="text-center">
        <img src="~/imgs/logo_front.png" class="respsonsive" />
            <div class="quote-container">
                <p id="indexquotes"><span style="font-weight: bold;">"A band who know what they want to do and just reminding the listener again and again of just that."</span><br /> - Nicolas Senior, <span style="font-style: italic;">New Noise Magazine</span></p>
            </div>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e8ZkOcG36bc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="quote-container">
                <p>Download presskit <a href="https://www.dropbox.com/sh/p2c40ewtnpakrq7/AAAZk0Prm9VpnzEEPmRXZrjwa?dl=0" target="_blank">HERE</a>.</p>
            </div>
    </div>
</body>

<style type="text/css">

/*    .quote-container{
        max-width: 560px;
        margin: auto;
        padding: 25px;
    }

    img.respsonsive {
        width: 100%;
        max-width: 800px;
        height: auto;
    }

    .iframe-container {
        position: relative;
        max-width: 560px;
        height: 315px;
        margin: auto;
    }
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }*/
</style>