@page
@model TourDatesModel
@{
}
<div class="text-center">
    <h1 class="display-4">TOUR</h1>
    <div class="tour-container">
            <a href="https://www.songkick.com/artists/8450083" class="songkick-widget" data-theme="light" data-detect-style="true" data-font-color="azure" data-background-color="transparent" data-locale="en" style="max-width: 700px;">TOUR DATES</a>
            <script src="//widget.songkick.com/8450083/widget.js"></script>
    </div>
</div>